<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add
      name="HockeyDB"
      connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Hockey;Integrated Security=true"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="${TEMP}\MyApp.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%5p - %m%n" />
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>

    <!-- Reduce the logging on these... -->
    <logger name="Hockey.Program">
      <level value="DEBUG" />
    </logger>

    <logger name="Standard.SQL">
      <level value="WARN" />
    </logger>
    <logger name="Hockey.Utility">
      <level value="WARN" />
    </logger>
    <logger name="Hockey.Loaders">
      <level value="INFO" />
    </logger>
  </log4net>
  
</configuration>